@using Ascend_Forum.Areas.Administrator.ViewModels;
@using Ascend_Forum.Infrastructure


@{
    ViewData["Title"] = "Categories List";
}

@model CategoryListViewModel[]

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>
</div>

@if ((bool)ViewBag.IsCategorySuccessfullyEdited)
{
    <p class="alert alert-success"
       id="successMessage">Successfully updated category</p>
}

<div class="container">
    <div class="row">

        @foreach (var category in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src="@category.ImageUrl" alt="Category image">
                    <div class="card-body">
                        <h5 class="card-title my-3">Title: @category.Name</h5>
                        <a class="btn btn-primary"
                           asp-controller="Category"
                           asp-action="Details"
                           asp-route-categoryId="@(category.Id)">
                            Details
                        </a>

                        @if (User.IsAdmin())
                        {
                            <a class="btn btn-secondary"
                               asp-area="Administrator"
                               asp-controller="Category"
                               asp-action="Edit"
                               asp-route-categoryId="@(category.Id)">
                                Edit
                            </a>

                            <button type="button"
                                    class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@category.Id">
                                Delete
                            </button>

                            <div class="modal fade" id="deleteModal-@category.Id" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirm Deletion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <div class="modal-body">
                                            Are you sure you want to delete "@category.Name" with all of its posts?
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancel
                                            </button>

                                            <form asp-area="Administrator"
                                                  asp-controller="Category"
                                                  asp-action="Delete"
                                                  method="post">
                                                <input type="hidden" name="categoryId" value="@category.Id" />
                                                <button type="submit" class="btn btn-danger">
                                                    Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
