@using Ascend_Forum.Areas.Administrator.ViewModels;
@using Ascend_Forum.Infrastructure


@{
    ViewData["Title"] = "Categories List";
}

@model CategoryListViewModel[]

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>
</div>

<div class="container">
    <div class="row">

        @foreach (var category in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src="@category.ImageUrl" alt="Category image">
                    <div class="card-body">
                        <h5 class="card-title my-3">Title: @category.Name</h5>
                        <a class="btn btn-primary"
                           asp-controller="Category"
                           asp-action="Details"
                           asp-route-categoryId="@(category.Id)">
                            Details
                        </a>

                        @if (User.IsAdmin())
                        {
                            <a class="btn btn-secondary"
                               asp-controller="Category"
                               asp-action="Edit"
                               asp-route-categoryId="@(category.Id)">
                                Edit
                            </a>

                            <a class="btn btn-danger"
                               asp-controller="Category"
                               asp-action="Delete"
                               asp-route-categoryId="@(category.Id)">
                                Delete
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
